<div class="container">
  <h1 style="font-family:times; color: rgb(85, 57, 15);">CRUD</h1>
<div><button class="btn btn-primary" style="background-color: green;" (click)="onAdd()">Add</button></div>
  <table>
    <tr>
      <th>Sl.no</th>
      <th>Name</th>
      <th>Branch</th>
      <th>USN</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let list of Studentlist">
      <td> {{list?.slno}}</td>
      <td> {{list?.name}}</td>
      <td> {{list?.branch}}</td>
      <td> {{list?.usn}}</td>
      <td>
        <button class="btn btn-danger " (click)="onDel(list)"> del</button>
        <button class="btn btn-primary" (click)="onEdit()"> edit</button>
      </td>
    </tr>
  </table>

 <div *ngIf="open">
    <input type="text" placeholder="Enter your name" id="name" class="form-control">
    <input type="text" placeholder="Enter your USN" id="name" class="form-control">
    <input type="text" placeholder="Enter your Branch" id="name" class="form-control">
    <button class="btn btn-primary" style="background-color: green;" (click)="onSubmit(2,4)">Submit</button>
    <button class="btn btn-primary" style="background-color: rgb(90, 95, 90);" (click)="onSubmit(2,4)">Close</button>
  </div>
</div>
